<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leaguetok">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LeagueTok">
        <activity
            android:name=".AuthenticationActivity"
            android:label="@string/title_activity_authentication"
            android:theme="@style/Theme.LeagueTok.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:theme="@style/Theme.LeagueTok.NoActionBar">
        </activity>
    </application>

</manifest>